.idea/*
c-make*
cmake-build*
CMakeLists.txt
Final Project/.idea/*
Project1/*.exe
Project1/*.pdf
Project2/*.exe
Project3/*.exe
Final Project/*.png
Final Project/a.exe
*.exe
*.exe
Final Project/a.exe
*.stackdump
*.exe
Project3/a.exe
Final Project/a.exe
*.exe
